.btn {
	border-radius: 50% !important;
	background-color: white;
}

.icon {
	width: 20px;
	height: 20px;
}

.answers {
	margin-top: 10px;
}

.plusBtn,
.answerBtn {
	color: black;
}

.connection {
	width: 16px;
	height: 16px;
}