.SidebarWrapper {
	width: 100%;
	position: absolute;
	top: 0;
	background: var(--overlay-color);
	transition: 0.5s transform;
}

.SidebarContent {
	min-height: 100vh;
	width: 250px;
	background: var(--bg-color);
	padding-top: 15px;
	padding-left: 15px;
}