.SidebarItem {
	padding: 15px;
	display: flex;
	align-items: center;
	transition: 0.2s;
	cursor: pointer;
	&:hover {
		background: rgb(237, 237, 237);
	}
}

.icon {
	width: 30px;
	height: 30px;
}

.text {
	margin-left: 15px;
}