.fragmentBtn {
	background: none;
	border: none;
	width: 100%;
}

.triggerBtn {
	padding: 10px;
	justify-content: space-between;
	width: 100%;
}

.icon {
	margin-left: 10px;
	width: 20px;
	height: 20px;
}

.options {
	background: var(--listbox-options-bg);
	box-shadow: 4px 4px 8px var(--listbox-options-bg);
	position: absolute;
	z-index: 99999;
}

.option {
	cursor: pointer;
	padding: 15px 20px;
}

.focus {
	transition: 0.3s;
	background: #fff;
}

.disabled {
	opacity: 0.7;
}

@media (max-width: 768px) {
	.triggerBtn,
	.fragmentBtn {
		width: 100%;
	}
}