.loaderWrap {
	display: flex;
	justify-content: center;
	padding: 50px;
}

.eye,
.calendar {
	width: 24px;
	height: 24px;
}

.questions {
	margin-top: 20px;
}

.error {
	margin-top: 6px;
}

@media (max-width: 1000px) {
	.header {
		display: block;
	}
	.headerAdditional {
		margin-top: 20px;
	}
}