.loaderWrap {
	display: flex;
	justify-content: center;
	padding: 50px;
}

.eye,
.calendar {
	width: 24px;
	height: 24px;
}

.release {
	margin-top: 12px;
}

.releaseForm {
	background: var(--card-bg-active) !important;
}

.binded {
	padding: 25px;
	border: 2px solid rgb(82, 131, 255);
	border-radius: 16px;
}

.hideQuestion {
	display: none;
}

.questions {
	margin-top: 20px;
}

.error {
	margin-top: 6px;
}

.testBtn {
	width: 200px;
}

.btns {
	margin-top: 32px;
}

@media (max-width: 1000px) {
	.header {
		display: block;
	}
	.headerAdditional {
		margin-top: 20px;
	}
}

@media (max-width: 768px) {
	.testBtn {
		width: 100%;
	}
	.btns {
		flex-direction: column;
		width: 100%;
	}
	.realiseBtn {
		width: 100%;
	}
}