.editableQuestion {
	width: 100%;
}

.loaderWrap {
	display: flex;
	justify-content: center;
	padding: 50px !important;
}

.headerInfo {
	width: 70%;
}

.eye,
.calendar {
	width: 24px;
	height: 24px;
}

.questions {
	margin-top: 20px;
}

.addForm {
	margin-left: auto;
	margin-bottom: 12px;
}

.binded {
	padding: 25px;
	border: 2px solid rgb(82, 131, 255);
	border-radius: 16px;
}

.addFormIcon {
	width: 32px;
	height: 32px;
}

@media (max-width: 1000px) {
	.header {
		display: block;
	}
	.headerInfo {
		width: 100%;
	}
	.headerAdditional {
		margin-top: 20px;
	}
	.body {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.questions {
		margin-top: 20px;
		width: 100%;
	}
}