.footer {
	margin-top: 30px;
}

.dateWrapper {
	display: flex;
}

.release {
	margin-top: 12px;
}

.releaseForm {
	background: var(--card-bg-active) !important;
}

.eye,
.calendar {
	width: 24px;
	height: 24px;
}

.filledWrapper {
	display: flex;
}

.filled,
.date {
	margin-left: 5px;
}

@media (max-width: 1000px) {
	.footer {
		display: block;
	}
	.btns {
		justify-content: start;
		margin-top: 20px;
	}
}

@media (max-width: 700px) {
	.description {
		margin-top: 12px;
	}
	.footer {
		display: block;
	}
	.button {
		margin-top: 12px;
		width: 100%;
	}
	.btns {
		display: block;
		margin-top: 36px;
	}
	.realiseBtn {
		width: 100%;
	}
}