.Card {
	background: var(--card-bg);
	width: 100%;
	padding: 20px 30px;
	border-radius: 15px;
	box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.2);
}

.hovered {
	cursor: pointer;
	transition: 0.3s;
	&:hover {
		opacity: 0.7;
	}
}

@media (max-width: 768px) {
	.Card {
		padding: 15px 15px;
	}
}