.backBtn {
	background: rgb(240, 240, 240);
	border-radius: 50%;
	width: 60px;
	height: 60px;
}

.arrow {
	width: 32px;
	height: 32px;
}

@media (max-width: 550px) {
	.panel {
		margin-left: 30px;
	}
}