.FormPageHeader {
	width: 100%;
	display: flex;
	align-items: center;
}

.backBtn {
	background: rgb(240, 240, 240);
	border-radius: 50%;
	width: 52px;
	height: 52px;
}

.arrow {
	width: 32px;
	height: 32px;
}

.panel {
	margin-left: auto;
}

.undoBtn {
	margin-left: auto;
}

.editPanel {
	margin-bottom: 4px;
}