.hint {
	margin-top: 8px;
}

.list {
	margin-top: 24px;
	width: 100%;
	height: 300px;
	overflow-y: auto;
	padding: 5px;
}

.question {
	margin-bottom: 16px;
}

.btns {
	margin-top: 20px;
}

.error {
	margin-top: 20px;
}

.loader {
	margin-top: 20px;
}

.doneBtn {
	width: 100%;
}

@media (max-width: 768px) {
	.list {
		height: 200px;
	}
}