.CheckBox {
	width: 30px;
	height: 30px;
}

.wrap {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
}

.checkbox {
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.checkboxText {
	margin-left: 10px;
}